/**
 * Content Editor Stylesheet
 */
/* -----------------------------------------
   Functions
----------------------------------------- */
/* --------------------------------------------------------------
	Theme Variables
-------------------------------------------------------------- */
/**
 * Colors
 */
/* dark blue */
/* orange red */
/* medium blue */
/* bright green */
/* dark grey */
/* medium grey */
/* light grey */
/* 15% black */
/* off white */
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova-reg-webfont.ttf") format("truetype"), url("../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-sbold-webfont.eot");
  src: url("../fonts/proximanova-sbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-sbold-webfont.woff") format("woff"), url("../fonts/proximanova-sbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#proxima_nova_ltlight") format("svg");
  font-weight: 300;
  font-style: normal;
}
/**
 * Typography
 */
/**
 * Responsive breakpoints
 */
/**
 * misc
 */
/* --------------------------------------------------------------
	Base elements
-------------------------------------------------------------- */
/* line 5, ../scss/base/_base.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 13, ../scss/base/_base.scss */
html,
body {
  font-size: 100%;
}

/* line 18, ../scss/base/_base.scss */
body {
  background: white;
  color: #222222;
  font-family: Lora, "PT Serif", Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  overflow-x: hidden;
  position: relative;
  cursor: default;
}

/* line 30, ../scss/base/_base.scss */
iframe {
  display: block;
}

/* line 34, ../scss/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 43, ../scss/base/_base.scss */
.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 50, ../scss/base/_base.scss */
.inline-list > li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}
/* line 55, ../scss/base/_base.scss */
.inline-list > li > * {
  display: block;
}

/* Utiliy Classes */
/* line 63, ../scss/base/_base.scss */
.left {
  float: left !important;
}

/* line 67, ../scss/base/_base.scss */
.right {
  float: right !important;
}

@media screen and (min-width: 450px) {
  /* line 71, ../scss/base/_base.scss */
  .alignright {
    float: right;
  }
}

@media screen and (min-width: 450px) {
  /* line 77, ../scss/base/_base.scss */
  .alignleft {
    float: left;
  }
}

/* line 83, ../scss/base/_base.scss */
.aligncenter,
div.aligncenter,
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 91, ../scss/base/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 95, ../scss/base/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 99, ../scss/base/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 103, ../scss/base/_base.scss */
.text-justify {
  text-align: justify !important;
}

/* line 107, ../scss/base/_base.scss */
::selection {
  background: #387C9D;
  /* Webkit */
  color: white;
}

/* line 112, ../scss/base/_base.scss */
::-moz-selection {
  background: #387C9D;
  /* Firefox */
  color: white;
}

/* line 117, ../scss/base/_base.scss */
.clear {
  clear: both !important;
}

/* line 122, ../scss/base/_base.scss */
.clearfix:before {
  content: " ";
  display: table;
}
/* line 126, ../scss/base/_base.scss */
.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* line 133, ../scss/base/_base.scss */
.hide,
.hidden {
  display: none;
}

/* line 138, ../scss/base/_base.scss */
.screen-reader-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* Grid */
/* line 146, ../scss/base/_base.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 64.375rem;
}
/* line 153, ../scss/base/_base.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 157, ../scss/base/_base.scss */
.row:after {
  clear: both;
}
/* line 161, ../scss/base/_base.scss */
.row.collapse > .column, .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
}
/* line 166, ../scss/base/_base.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 171, ../scss/base/_base.scss */
.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 178, ../scss/base/_base.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 182, ../scss/base/_base.scss */
.row .row:after {
  clear: both;
}
/* line 187, ../scss/base/_base.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
}
/* line 191, ../scss/base/_base.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 195, ../scss/base/_base.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 201, ../scss/base/_base.scss */
.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  position: relative;
}

/* line 210, ../scss/base/_base.scss */
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

/* line 214, ../scss/base/_base.scss */
[class*="column"] + [class*="column"].end {
  float: left;
}

/* --------------------------------------------------------------
	Typography
-------------------------------------------------------------- */
/* Link Styles */
/* line 6, ../scss/base/_typography.scss */
a {
  color: #387C9D;
  text-decoration: none;
  -moz-transition: ease 0.25s;
  -o-transition: ease 0.25s;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
  line-height: inherit;
}
/* line 11, ../scss/base/_typography.scss */
a:hover {
  cursor: pointer;
}
/* line 14, ../scss/base/_typography.scss */
a:hover, a:focus {
  color: #222222;
}
/* line 17, ../scss/base/_typography.scss */
a img {
  border: none;
}

/* Default header styles */
/* line 23, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

/* line 34, ../scss/base/_typography.scss */
h1 {
  font-size: 2.25rem;
}

/* line 38, ../scss/base/_typography.scss */
h2 {
  font-size: 2rem;
}

/* line 42, ../scss/base/_typography.scss */
h3 {
  font-size: 1.375rem;
}

/* line 47, ../scss/base/_typography.scss */
h4, h5 {
  font-size: 1.125rem;
}

/* line 51, ../scss/base/_typography.scss */
h6 {
  font-size: 1rem;
}

/* line 56, ../scss/base/_typography.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  color: #222222;
}
/* line 58, ../scss/base/_typography.scss */
h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover {
  color: #387C9D;
}

/* line 64, ../scss/base/_typography.scss */
h1,
.h1 {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 1.111;
}
/* line 68, ../scss/base/_typography.scss */
h1.pagetitle,
.h1.pagetitle {
  margin: 30px 0;
  font-weight: 700;
  letter-spacing: -1px;
}
@media screen and (min-width: 600px) {
  /* line 68, ../scss/base/_typography.scss */
  h1.pagetitle,
  .h1.pagetitle {
    font-size: 2.25rem;
    line-height: 1.111;
  }
}

/* line 79, ../scss/base/_typography.scss */
h2,
.h2 {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 0.9375;
  margin: 0 0 0.625rem;
}

/* line 86, ../scss/base/_typography.scss */
h3 {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 1.389;
  text-transform: uppercase;
  margin: 0 0 0.625rem;
}

/* line 94, ../scss/base/_typography.scss */
h4,
.h4 {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.250;
  text-transform: uppercase;
  color: #363A40;
  margin: 0.625rem 0 0.625rem;
}

/* line 105, ../scss/base/_typography.scss */
h1.line:after, h2.line:after, h3.line:after, h4.line:after {
  content: '';
  display: block;
  width: 3.125rem;
  border-bottom: 3px solid #cfdf36;
  margin-top: 0.3125rem;
}

/* Paragraph styles */
/* line 115, ../scss/base/_typography.scss */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.625rem 0 1.25rem;
  text-rendering: optimizeLegibility;
}

/* line 124, ../scss/base/_typography.scss */
hr {
  clear: both;
  height: 0;
  border: none;
  border-bottom: 1px solid #999999;
  background: none;
  margin: 1.875rem 0;
}

/* Helpful Typography Defaults */
/* line 134, ../scss/base/_typography.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 140, ../scss/base/_typography.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 146, ../scss/base/_typography.scss */
code {
  font-family: "Courier New", Courier, Fixed;
  font-weight: normal;
  color: #333333;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.125rem 0.3125rem 0.0625rem;
}

/* Lists */
/* line 155, ../scss/base/_typography.scss */
ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

/* line 165, ../scss/base/_typography.scss */
ul {
  margin-left: 1.1rem;
}
/* line 167, ../scss/base/_typography.scss */
ul.no-bullet {
  margin-left: 0;
}
/* line 169, ../scss/base/_typography.scss */
ul.no-bullet li ul, ul.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Unordered Lists */
/* line 178, ../scss/base/_typography.scss */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* line 184, ../scss/base/_typography.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 189, ../scss/base/_typography.scss */
ol {
  margin-left: 1.4rem;
}

/* line 193, ../scss/base/_typography.scss */
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* Blockquotes */
/* line 200, ../scss/base/_typography.scss */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  line-height: 1.6;
  font-style: italic;
  color: black;
  border: solid white;
  border-color: rgba(255, 255, 255, 0.5);
  border-width: 1px 0;
}
/* line 210, ../scss/base/_typography.scss */
blockquote cite {
  display: block;
  font-style: italic;
  font-size: 0.6875rem;
  color: #555555;
}
/* line 216, ../scss/base/_typography.scss */
blockquote cite:before {
  content: "\2014 \0020";
}
/* line 221, ../scss/base/_typography.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555555;
}
/* line 225, ../scss/base/_typography.scss */
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* line 231, ../scss/base/_typography.scss */
pre {
  margin: 1.25rem 0;
  padding: 0.625rem 0.9375rem;
  overflow: auto;
  text-rendering: auto;
}

/* line 238, ../scss/base/_typography.scss */
.serif_caps {
  font-style: italic;
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 244, ../scss/base/_typography.scss */
.assistive-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 250, ../scss/base/_typography.scss */
small {
  font-size: 14px;
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
}

/* line 255, ../scss/base/_typography.scss */
.antialiased, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 260, ../scss/base/_typography.scss */
.post-title {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

/* line 266, ../scss/base/_typography.scss */
.title {
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
}
/* line 272, ../scss/base/_typography.scss */
.title a {
  color: #222222;
}
/* line 274, ../scss/base/_typography.scss */
.title a:hover {
  color: #387C9D;
}

/* line 280, ../scss/base/_typography.scss */
.label {
  font-size: 0.75rem;
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: #222222;
  margin: 5px 0;
}
/* line 289, ../scss/base/_typography.scss */
.label a {
  color: #ff3c1f;
}

/* line 294, ../scss/base/_typography.scss */
.byline,
.meta {
  font-size: 0.75rem;
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 1.667;
  color: #999999;
  margin: 5px 0;
}
/* line 302, ../scss/base/_typography.scss */
.byline a,
.meta a {
  color: #999999;
}
/* line 305, ../scss/base/_typography.scss */
.byline a:hover,
.meta a:hover {
  color: #387C9D;
}
/* line 310, ../scss/base/_typography.scss */
.byline i,
.meta i {
  vertical-align: -1px;
}

/* line 315, ../scss/base/_typography.scss */
.meta.postTags {
  margin: 50px 0;
}
/* line 318, ../scss/base/_typography.scss */
.meta.postTags > h4 {
  font-size: 0.75rem;
}

/* line 323, ../scss/base/_typography.scss */
.byline a {
  text-transform: uppercase;
}

/* line 327, ../scss/base/_typography.scss */
.sponsor {
  font-size: 0.75rem;
  font-family: "proxima_nova", "proxima-nova", Helvetica, Arial, sans-serif;
  line-height: 1.250;
  text-transform: uppercase;
  color: #999999;
  margin: 0;
}
/* line 334, ../scss/base/_typography.scss */
.sponsor a {
  color: #999999;
}
/* line 337, ../scss/base/_typography.scss */
.sponsor span {
  text-transform: none;
}
/* line 340, ../scss/base/_typography.scss */
.sponsor img {
  float: left;
  margin-right: 10px;
  max-height: 30px;
  width: auto;
}

/* line 349, ../scss/base/_typography.scss */
.green {
  color: #3dab28;
}

/* line 352, ../scss/base/_typography.scss */
.blue {
  color: #0074cc;
}

/* line 13, ../scss/editor.scss */
html,
html .mceContentBody {
  max-width: 600px !important;
  color: black;
}

/* line 19, ../scss/editor.scss */
h1, h2, h4, h5 {
  margin: 0;
  line-height: 1em;
}

/* line 23, ../scss/editor.scss */
h1 {
  color: #1e1918;
  font-size: 46px;
  letter-spacing: -2px;
  line-height: 1em;
  margin-bottom: .4em;
  margin-left: -2px;
}

/* line 31, ../scss/editor.scss */
h2 {
  color: #000;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1em;
  font-weight: 700;
  margin-top: 1.5em;
  padding-bottom: 6px;
}

/* line 40, ../scss/editor.scss */
h5 {
  color: #292a29;
  font-weight: 700;
  margin-bottom: 0.6em;
}

/* line 45, ../scss/editor.scss */
a {
  color: #0074cc;
  text-decoration: none;
}

/* line 49, ../scss/editor.scss */
a:hover {
  text-decoration: underline;
}
