/*------------------------------------------------------------------

1.  HELPERS

------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
/* line 5, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 93, ../scss/helpers/_mixins.scss */
.container, .sub-nav, .post-header-wrap, .post-action {
  *zoom: 1;
}
/* line 95, ../scss/helpers/_mixins.scss */
.container:before, .sub-nav:before, .post-header-wrap:before, .post-action:before, .container:after, .sub-nav:after, .post-header-wrap:after, .post-action:after {
  content: " ";
  display: table;
}
/* line 99, ../scss/helpers/_mixins.scss */
.container:after, .sub-nav:after, .post-header-wrap:after, .post-action:after {
  clear: both;
}

/* line 125, ../scss/helpers/_mixins.scss */
.image-replace, .new-message-btn, .post-action-btn {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/* line 133, ../scss/helpers/_mixins.scss */
.post-meta ul {
  margin: 0 auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 140, ../scss/helpers/_mixins.scss */
.post-meta ul > li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}
/* line 145, ../scss/helpers/_mixins.scss */
.post-meta ul > li > * {
  display: block;
}

/* -----------------------------------------
   Functions
----------------------------------------- */
/* --------------------------------------------------------------
	Theme Variables
-------------------------------------------------------------- */
/**
 * Colors
 */
/* dark blue */
/* orange red */
/* medium blue */
/* bright green */
/* dark grey */
/* medium grey */
/* light grey */
/* 15% black */
/* off white */
/**
 * Typography
 */
/**
 * Responsive breakpoints
 */
/**
 * misc
 */
/*------------------------------------------------------------------

2.  BASE

------------------------------------------------------------------*/
/* --------------------------------------------------------------
	Base elements
-------------------------------------------------------------- */
/* line 4, ../scss/base/_base.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../scss/base/_base.scss */
body {
  font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* line 16, ../scss/base/_base.scss */
a {
  color: #00CC99;
  text-decoration: none;
}
/* line 24, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #008060;
}
/* line 4, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/links/_hover-link.scss */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 21, ../scss/base/_base.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 107, ../scss/base/_base.scss */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------------------------------------

3.  LAYOUT

------------------------------------------------------------------*/
/* line 3, ../scss/layout/_structure.scss */
.sub-nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5rem;
  height: 5rem;
  background: rgba(0, 0, 0, 0.05);
}

/* line 14, ../scss/layout/_structure.scss */
.main-content {
  padding: 3.125rem 0 6.25rem;
}
/* line 16, ../scss/layout/_structure.scss */
.main-content .container {
  padding: 0 0.9375rem;
}

/* line 1, ../scss/layout/_header.scss */
.logo {
  float: left;
  margin: 1.0625rem 0 1.125rem;
  padding: 0;
  line-height: normal;
}
/* line 6, ../scss/layout/_header.scss */
.logo img {
  max-width: 100%;
}

/* line 11, ../scss/layout/_header.scss */
.right-nav {
  float: right;
  color: #FFF;
  width: 350px;
}

/* line 17, ../scss/layout/_header.scss */
.new-message-btn {
  height: 31px;
  width: 31px;
  display: block;
  float: right;
  margin: 15px 10px;
  background: url("../assets/img/icons/message-cloud.png") center center no-repeat;
}

/* line 28, ../scss/layout/_header.scss */
.my-account {
  float: right;
}
/* line 31, ../scss/layout/_header.scss */
.my-account > a {
  display: block;
}

/* line 36, ../scss/layout/_header.scss */
.ss-search-bar {
  float: right;
  margin: 15px 10px;
}
/* line 39, ../scss/layout/_header.scss */
.ss-search-bar .search-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0.375rem 2.5rem 0.375rem 0.625rem;
  outline: 0;
  width: 12.5rem;
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.875rem;
}
/* line 48, ../scss/layout/_header.scss */
.ss-search-bar .search-input:focus {
  background: #e4e2e2;
  color: #000;
}
/* line 53, ../scss/layout/_header.scss */
.ss-search-bar .search-btn {
  background: 0 0;
  border: 0;
  font-size: 18px;
  color: #cbe2cb;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -12px 0 0 -30px;
}

/* line 66, ../scss/layout/_header.scss */
.avatar:hover {
  text-decoration: none;
}
/* line 69, ../scss/layout/_header.scss */
.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
/* line 74, ../scss/layout/_header.scss */
.avatar .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
  margin-top: 0.8125rem;
  margin-left: 0.25rem;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* line 91, ../scss/layout/_header.scss */
.dropdown-menu {
  position: relative;
}
/* line 93, ../scss/layout/_header.scss */
.dropdown-menu a {
  float: left;
  padding: 0.9375rem 0.625rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.5);
}
/* line 99, ../scss/layout/_header.scss */
.dropdown-menu a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}
/* line 106, ../scss/layout/_header.scss */
.dropdown-menu li {
  float: left;
  position: relative;
}
/* line 110, ../scss/layout/_header.scss */
.dropdown-menu ul {
  padding: 0;
  list-style: none;
  margin: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 1.875rem;
  left: -0.625rem;
  z-index: 10;
  background: #F6F6F6;
  border-radius: 4px;
  transition: all .1s ease-out;
  height: auto;
}
/* line 124, ../scss/layout/_header.scss */
.dropdown-menu ul li {
  float: none;
  display: block;
  border: 0;
  _line-height: 0;
}
/* line 130, ../scss/layout/_header.scss */
.dropdown-menu ul li:first-child > a {
  border-radius: 3px 3px 0 0;
}
/* line 133, ../scss/layout/_header.scss */
.dropdown-menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 3.4375rem;
  top: -12px;
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent #F6F6F6 transparent;
  border-bottom-style: solid;
}
/* line 158, ../scss/layout/_header.scss */
.dropdown-menu ul li:last-child > a {
  border-radius: 0 0 4px 4px;
  box-shadow: none;
}
/* line 165, ../scss/layout/_header.scss */
.dropdown-menu ul a {
  padding: 0.625rem 0.9375rem;
  width: 6.0625rem;
  _height: 10px;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
/* line 177, ../scss/layout/_header.scss */
.dropdown-menu:hover > ul {
  opacity: 1;
  visibility: visible;
}

/* line 184, ../scss/layout/_header.scss */
.page-header {
  background-color: #262728;
  display: none;
}
@media screen and (min-width: 40.063em) {
  /* line 184, ../scss/layout/_header.scss */
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1f1f1f;
    z-index: 12;
    display: block;
  }
}
/* line 229, ../scss/layout/_header.scss */
.page-header .main-nav > ul {
  list-style-type: none;
}
/* line 6, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_inline-list.scss */
.page-header .main-nav > ul, .page-header .main-nav > ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

/* line 236, ../scss/layout/_header.scss */
.ss-mobile-header {
  background-color: #262728;
  width: 100%;
  height: 45px;
  line-height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
}
@media screen and (min-width: 40.063em) {
  /* line 236, ../scss/layout/_header.scss */
  .ss-mobile-header {
    display: none;
  }
}

/* line 255, ../scss/layout/_header.scss */
.mobile-header-inner {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 260, ../scss/layout/_header.scss */
.mobile-header-inner .mobile-header-content {
  float: left;
  width: 68%;
  height: 100%;
  position: absolute;
  left: 16%;
  text-align: center;
}
/* line 269, ../scss/layout/_header.scss */
.mobile-header-inner .menu-btn a, .mobile-header-inner .message-mobile-btn a {
  text-align: center;
  width: auto;
  padding: 4px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
/* line 280, ../scss/layout/_header.scss */
.mobile-header-inner .menu-btn {
  float: left;
  padding-left: 0.9375rem;
}
/* line 285, ../scss/layout/_header.scss */
.mobile-header-inner .message-mobile-btn {
  float: right;
  /* margin-right: 2.5%; */
  padding-right: 0.9375rem;
}
/* line 289, ../scss/layout/_header.scss */
.mobile-header-inner .message-mobile-btn a {
  margin: 7px 0;
  width: 31px;
  display: block;
}

/* line 298, ../scss/layout/_header.scss */
.mobile-header-content a {
  padding: 10px 0;
  display: block;
}

/* line 304, ../scss/layout/_header.scss */
.hero-header {
  margin-top: 2.8125rem;
  background: url("../assets/img/hero-img.jpg");
}
@media screen and (min-width: 40.063em) {
  /* line 304, ../scss/layout/_header.scss */
  .hero-header {
    margin-top: 3.75rem;
  }
}
/* line 311, ../scss/layout/_header.scss */
.hero-header .container {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 26.5625rem;
}

/* line 320, ../scss/layout/_header.scss */
.compose-post {
  background: #008060;
  background: rgba(0, 178, 134, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 575px;
  margin: 0 auto;
  padding: 20px;
}
/* line 332, ../scss/layout/_header.scss */
.compose-post .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  cursor: auto;
}
/* line 340, ../scss/layout/_header.scss */
.compose-post .input-field, .compose-post .input-label {
  font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #FFF;
}
/* line 345, ../scss/layout/_header.scss */
.compose-post .input-field {
  float: right;
  border: none;
  border-radius: 0;
  color: #aaa;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-weight: 300;
}
/* line 366, ../scss/layout/_header.scss */
.compose-post .input-field:focus {
  outline: none;
}
/* line 370, ../scss/layout/_header.scss */
.compose-post .input-label {
  display: inline-block;
  float: right;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 1.875rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  width: 100%;
  cursor: text;
}
/* line 389, ../scss/layout/_header.scss */
.compose-post .input-label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 398, ../scss/layout/_header.scss */
.compose-post .input-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0.97, 0.85, 1);
  transform: scale3d(0.97, 0.85, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 410, ../scss/layout/_header.scss */
.compose-post .input--filled .input-label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}
/* line 419, ../scss/layout/_header.scss */
.compose-post .input-label-content {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 424, ../scss/layout/_header.scss */
.compose-post .input-field:focus + .input-label::before,
.compose-post .input--filled .input-label::before {
  -webkit-transform: scale3d(0.99, 0.95, 1);
  transform: scale3d(0.99, 0.95, 1);
}
/* line 430, ../scss/layout/_header.scss */
.compose-post .input-field:focus + .input-label,
.compose-post .input--filled .input-label {
  cursor: default;
  pointer-events: none;
}
/* line 436, ../scss/layout/_header.scss */
.compose-post .input-field:focus + .input-label .input-label-content,
.compose-post .input--filled .input-label-content {
  -webkit-transform: translate3d(0, -3.5em, 0);
  transform: translate3d(0, -3.5em, 0);
}

/* line 1, ../scss/layout/_footer.scss */
.page-footer {
  padding: 2.5rem 0.9375rem;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #dee1e5;
}
@media screen and (min-width: 40.063em) {
  /* line 1, ../scss/layout/_footer.scss */
  .page-footer {
    clear: both;
    position: relative;
    z-index: 11;
  }
}

/* line 13, ../scss/layout/_footer.scss */
.footer-links {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 600;
}
/* line 6, ../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/lists/_inline-list.scss */
.footer-links, .footer-links li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 18, ../scss/layout/_footer.scss */
.footer-links li {
  padding: 0 12px;
}
/* line 21, ../scss/layout/_footer.scss */
.footer-links a {
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

/*------------------------------------------------------------------

4.  MODULES

------------------------------------------------------------------*/
/* line 3, ../scss/modules/_posts.scss */
.post-entry.tile {
  -moz-column-gap: 1.25rem;
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
@media screen and (min-width: 40.063em) {
  /* line 3, ../scss/modules/_posts.scss */
  .post-entry.tile {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 64.063em) {
  /* line 3, ../scss/modules/_posts.scss */
  .post-entry.tile {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
/* line 18, ../scss/modules/_posts.scss */
.post-entry.list {
  padding: 0;
  max-width: 570px;
  margin: 0 auto;
}

/* line 27, ../scss/modules/_posts.scss */
.panel {
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  display: inline-block;
  background: #fff;
  margin: 0 0 1.5625rem;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #dee1e5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

/* line 39, ../scss/modules/_posts.scss */
.post-main {
  padding: 20px 25px;
}

/* line 43, ../scss/modules/_posts.scss */
.post-body {
  margin-left: 60px;
}

/* line 52, ../scss/modules/_posts.scss */
.post-header-wrap {
  margin-bottom: -0.625rem;
}

/* line 59, ../scss/modules/_posts.scss */
.post-avatar {
  float: left;
  margin-left: -3.75rem;
}

/* line 69, ../scss/modules/_posts.scss */
.post-author span {
  color: #444;
}

/* line 80, ../scss/modules/_posts.scss */
.post-meta {
  float: right;
}

/* line 90, ../scss/modules/_posts.scss */
.tile .post-meta.top, .list .post-meta.bottom {
  display: none;
}

/* line 94, ../scss/modules/_posts.scss */
.post-action-btn {
  background: url("../assets/img/icons/post-cta.png") 0 0 no-repeat;
  width: 13px;
  height: 13px;
}
/* line 99, ../scss/modules/_posts.scss */
.post-action-btn.reply {
  background-position: 0 0;
}
/* line 101, ../scss/modules/_posts.scss */
.post-action-btn.reply:hover, .post-action-btn.reply:active {
  background-position: 0 -30px;
}
/* line 107, ../scss/modules/_posts.scss */
.post-action-btn.favorite {
  background-position: -35px 0;
}
/* line 109, ../scss/modules/_posts.scss */
.post-action-btn.favorite:hover, .post-action-btn.favorite:active {
  background-position: -35px -30px;
}

/* line 116, ../scss/modules/_posts.scss */
.post-action-time {
  font-size: 0.875rem;
  color: #cbcfd6;
}

/* line 121, ../scss/modules/_posts.scss */
.post-image img {
  width: 100%;
  max-width: 100%;
}

/* line 126, ../scss/modules/_posts.scss */
.post-action {
  padding-left: 84px;
  padding-right: 20px;
  margin: 15px 0;
}

/* line 133, ../scss/modules/_posts.scss */
.post-replies {
  background: rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------

5.  VIEWS

------------------------------------------------------------------*/
/*------------------------------------------------------------------

6.  VENDOR

------------------------------------------------------------------*/
