<section class="list post-entry" id="ss-all-posts">


<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/sam.png" alt="" />
						<span>Sam Soffes</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					<p>How to Get Inspired: the Right Way - Designmodo
						<a href="http://bit.ly/1lE4uJc">bit.ly/1lE4uJc</a> Good stuff from
						<a href="http://bit.ly/1lE4uJc">@designmodo</a>!</p>
				</div>

			</div>
		</div>
		<!--end .post-main -->

		<div class="post-action">
			<a href="#" class="expand js-btn-expand">Expand<span class="caret"></span></a>
			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!--end .post-action -->


		<div class="post-replies js-post-replies">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, debitis eius expedita harum
			molestiae necessitatibus quos sapiente. Blanditiis eos esse exercitationem facilis id modi
			necessitatibus omnis porro quod voluptatibus! Maxime?
		</div>
	</div>

</article>



<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/sam.png" alt="" />
						<span>Sam Soffes</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">3m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					<p>How to Get Inspired: the Right Way - Designmodo
						<a href="http://bit.ly/1lE4uJc">bit.ly/1lE4uJc</a> Good stuff from
						<a href="http://bit.ly/1lE4uJc">@designmodo</a>!</p>
				</div>

			</div>
		</div>
		<!--end .post-main -->

		<div class="post-action">
			<a href="#" class="expand js-btn-expand">Expand<span class="caret"></span></a>
			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!--end .post-action -->


		<div class="post-replies js-post-replies">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, debitis eius expedita harum
			molestiae necessitatibus quos sapiente. Blanditiis eos esse exercitationem facilis id modi
			necessitatibus omnis porro quod voluptatibus! Maxime?
		</div>
	</div>

</article>

<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/sam.png" alt="" />
						<span>Sam Soffess</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem consequatur
					debitis incidunt nostrum odit praesentium quam qui. Aperiam, cum cumque deleniti
					eius itaque nobis numquam quibusdam sapiente sit voluptatum!
				</div>

			</div>
		</div>


		<div class="post-action">
			<a href="" class="expand">Expand</a>

			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>


		<div class="post-replies">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, debitis eius expedita harum
			molestiae necessitatibus quos sapiente. Blanditiis eos esse exercitationem facilis id modi
			necessitatibus omnis porro quod voluptatibus! Maxime?
		</div>
	</div>

</article>


<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/sam.png" alt="" />
						<span>Sam Soffess</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem consequatur
					debitis incidunt nostrum odit praesentium quam qui. Aperiam, cum cumque deleniti
					eius itaque nobis numquam quibusdam sapiente sit voluptatum!
				</div>

			</div>
		</div>
		<div class="post-action">
			<a href="" class="expand">Expand</a>

			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</article>

<article class="post panel">
	<div class="post-wrap">
		<div class="post-main">
			<div class="post-body">
				<div class="post-header-wrap">
					<a href="" class="post-author">
						<img class="post-avatar" src="assets/img/avatar/40/sam.png" alt="" />
						<span>Sam Soffess</span></a>

					<div class="post-meta top">
						<ul>
							<li><a href="" class="post-action-btn reply">reply</a></li>
							<li>
								<a href="" class="post-action-btn favorite">favorite</a>
							</li>
							<li>
								<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="post-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem consequatur
					debitis incidunt nostrum odit praesentium quam qui. Aperiam, cum cumque deleniti
					eius itaque nobis numquam quibusdam sapiente sit voluptatum!
				</div>

			</div>
		</div>
		<div class="post-image">
			<img src="http://placehold.it/500x300" alt="" />
		</div>
		<div class="post-action">
			<!--<a href="" class="expand">Expand</a>-->
			<div class="post-meta bottom">
				<ul>
					<li><a href="" class="post-action-btn reply">reply</a></li>
					<li>
						<a href="" class="post-action-btn favorite">favorite</a>
					</li>
					<li>
						<a href="" class="post-action-time "><span class="" aria-hidden="true">5m</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</article>


<article class="post panel">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic inventore, iure labore
	neque quae quos reiciendis! Illum labore magnam numquam quas! Corporis earum facere incidunt
	ipsam magni maxime quae.


</article>
<article class="post panel">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic inventore, iure labore
	neque quae quos reiciendis! Illum labore magnam numquam quas! Corporis earum facere incidunt
	ipsam magni maxime quae.


</article>
<article class="post panel">
	Lorem ipsum dolor sit amet, consectetur ahic inventore, iure labore neque quae quos reiciendis!
	Illum labore magnam numquam quas! Corporis earum facere incidunt ipsam magni maxime quae.


</article>
<article class="post panel">
	Lorem ipsum dolor sit amet, consecteturic inventore, iure labore neque quae quos reiciendis!
	Illum labore magnam numquam quas! Corporis earum facere incidunt ipsam magni maxime quae.
	Lorem ipsum dolor sit amet, consecteturic inventore, iure labore neque quae quos reiciendis!
	Illum labore magnam numquam quas! Corporis earum facere incidunt ipsam magni maxime quae.


</article>
<article class="post panel">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic inventore, iure labore
	neque quae quos reiciendis! Illum labore magnam numquam quas! Corporis earum facere incidunt
	ipsam magni maxime quae.


</article>
<article class="post panel">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic inventore, iure labore
	neque quae quos reiciendis! Illum labore magnam numquam quas! Corporis earum facere incidunt
	ipsam magni maxime quae.


</article>
<article class="post panel">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate hic inventore, iure labore
	neque quae quos reiciendis! Illum labore magnam numquam quas! Corporis earum facere incidunt
	ipsam magni maxime quae.


</article>
</section>
