/* --------------------------------------------------------------
	Base elements
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	min-width: rem-calc(330);
}

a {
	@include link-colors($caribbean-green, #008060);
	@include hover-link;
}

img {
	display: inline-block;
	vertical-align: middle;
}

.caret {
	border-top-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	margin-top: rem-calc(13);
	margin-left: rem-calc(4);
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid white(0.3);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}

.video-wrap {
	position: relative;
	padding-top: 1.5625rem;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 1rem;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 56.34%;
}

.video-wrap iframe,
.video-wrap object,
.video-wrap embed,
.video-wrap video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.btn {
	padding: 10px 21px;

	color: #FFF;
	background: $caribbean-green;
	@include border-radius(rem-calc(2px));
	&:hover {
		background: $deep-sea;
		text-decoration: none;
		color: #FFF;
	}
}


.image-replace {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

