/* --------------------------------------------------------------
	Base elements
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	min-width: rem-calc(330);
}

a {
	@include link-colors($caribbean-green, #008060);
	@include hover-link;
}

img {
	display: inline-block;
	vertical-align: middle;
}
//.row {
//	width: 100%;
//	margin-left: auto;
//	margin-right: auto;
//	margin-top: 0;
//	margin-bottom: 0;
//	max-width: 62.5rem;
//}
//.row:before, .row:after {
//	content: " ";
//	display: table;
//}
//.row:after {
//	clear: both;
//}
//.row.collapse > .column,
//.row.collapse > .columns {
//	padding-left: 0;
//	padding-right: 0;
//}
//.row.collapse .row {
//	margin-left: 0;
//	margin-right: 0;
//}
//.row .row {
//	width: auto;
//	margin-left: -0.9375rem;
//	margin-right: -0.9375rem;
//	margin-top: 0;
//	margin-bottom: 0;
//	max-width: none;
//}
//.row .row:before, .row .row:after {
//	content: " ";
//	display: table;
//}
//.row .row:after {
//	clear: both;
//}
//.row .row.collapse {
//	width: auto;
//	margin: 0;
//	max-width: none;
//}
//.row .row.collapse:before, .row .row.collapse:after {
//	content: " ";
//	display: table;
//}
//.row .row.collapse:after {
//	clear: both;
//}
//
//.column,
//.columns {
//	padding-left: 0.9375rem;
//	padding-right: 0.9375rem;
//	width: 100%;
//	float: left;
//}
//
//[class*="column"] + [class*="column"]:last-child {
//	float: right;
//}
//
//[class*="column"] + [class*="column"].end {
//	float: left;
//}
//
//@media only screen and (min-width: 40.063em) {
//	.column,
//	.columns {
//		position: relative;
//		padding-left: 0.9375rem;
//		padding-right: 0.9375rem;
//		float: left;
//	}
//}
//


.caret {
	border-top-width: 5px;
	border-right-width: 5px;
	border-left-width: 5px;
	margin-top: rem-calc(13);
	margin-left: rem-calc(4);
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid white(0.3);
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
}



.video-wrap {
	position: relative;
	padding-top: 1.5625rem;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 1rem;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 56.34%;


}

.video-wrap iframe,
.video-wrap object,
.video-wrap embed,
.video-wrap video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.container {
	@include outer-container();
}




//.animated {
//	-webkit-animation-duration: 1s;
//	animation-duration: 1s;
//	-webkit-animation-fill-mode: both;
//	animation-fill-mode: both;
//}
//
//@-webkit-keyframes fadeInDown {
//	0% {
//		opacity: 0;
//		-webkit-transform: translate3d(0, -100%, 0);
//		transform: translate3d(0, -100%, 0);
//	}
//
//	100% {
//		opacity: 1;
//		-webkit-transform: none;
//		transform: none;
//	}
//}
//
//@keyframes fadeInDown {
//	0% {
//		opacity: 0;
//		-webkit-transform: translate3d(0, -100%, 0);
//		transform: translate3d(0, -100%, 0);
//	}
//
//	100% {
//		opacity: 1;
//		-webkit-transform: none;
//		transform: none;
//	}
//}
//
//.fadeInDown {
//	-webkit-animation-name: fadeInDown;
//	animation-name: fadeInDown;
//	-webkit-animation-duration: 1s;
//	animation-duration: 1s;
//	-webkit-animation-fill-mode: both;
//	animation-fill-mode: both;
//}


.btn {
	padding: 10px 21px;

		color: #FFF;
//		border: 2px solid $button-basic-border-color;
		background: $caribbean-green;
//		text-transform: uppercase;
		//padding: rem-calc(10px) rem-calc(14px) rem-calc(10px) rem-calc(22px);
		@include border-radius(rem-calc(2px));
		&:hover {
			background: $deep-sea;
			text-decoration: none;
		color: #FFF;

		}

}