.view-nav {
	display: none;
}
.post-entry.view-tile {
	padding: 0;
	max-width: 570px;
	margin: 0 auto;
}
.ss-form-hero label.ss-compose {
	font: inherit;
	color: #FFF;
	color: white(0.5);
}

.menu-btn {
	background: url("../img/build/icons/menu.png") 0 0 no-repeat;
	cursor: pointer;


}
.content-main::before {
	background: none;

}