/* --------------------------------------------------------------
	Header
-------------------------------------------------------------- */

.logo {
	float: left;
	margin: rem-calc(17) 0 rem-calc(18);
	padding: 0 0 0 rem-calc(15);
	line-height: normal;
	img {
		max-width: 100%;
	}
}

.right-nav {
	float: right;
	color: #FFF;
	width: rem-calc(350);
}

.new-message-btn {
	@extend .image-replace;
	height: 31px;
	width: 31px;
	display: block;
	float: right;
	margin: 15px 10px;
	background: url("../img/build/icons/message-cloud.png") center center no-repeat;
}

.my-account {
	float: right;
	> a {
		display: block;
	}
}

.ss-search-bar {
	float: right;
	margin: 15px 10px;
	form {
		position: relative;
	}
	.search-input {
		border: 1px solid white(0.3);
		padding: rem-calc(6) rem-calc(40) rem-calc(6) rem-calc(10);
		outline: 0;
		width: rem-calc(200);
		border-radius: 4px;
		background: transparent;
		color: white(0.4);
		font-size: rem-calc(14);

		&:focus {
			background: #e4e2e2;
			color: #000;
		}
	}
	.search-btn {
		background: url("../img/build/icons/search.png") 0 0 no-repeat;
		border: 0;
		font-size: rem-calc(18);
		color: #cbe2cb;
		position: absolute;
		top: 50%;
		right: 0;
		margin: rem-calc(-8) rem-calc(10) 0 0;
		width: 16px;
		height: 16px;
	}
}

.mobile-search .ss-search-bar {
	float: none;
	margin: rem-calc(15) 0;
	.search-input {
		width: 100%;
	}
}

.avatar {
	&:hover {
		text-decoration: none;
	}
	img {
		width: 30px;
		height: 30px;
		border-radius: 4px;
	}

}

.page-header {
	background-color: $shark;
	display: none;
	@include breakpoint($medium-screen) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #1f1f1f;
		z-index: 12;
		display: block;
	}
	.main-nav > ul {
		@include inline-list;
	}
}

/**
 * Mobile Header
 */
.ss-mobile-header {
	background-color: $shark;
	width: 100%;
	height: rem-calc(45);
	line-height: rem-calc(20);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 12;

	@include breakpoint($medium-screen) {
		display: none;
	}
}

.mobile-header-inner {
	height: 100%;
	width: 100%;
	position: relative;
	.mobile-header-content {
		float: left;
		width: 68%;
		height: 100%;
		position: absolute;
		left: 16%;
		text-align: center;
	}
	.menu-btn, .message-mobile-btn {
		a {
			text-align: center;
			width: auto;
			padding: rem-calc(4);
			text-decoration: none;
			display: inline-block;
			position: relative;
		}
	}
	.menu-btn {
		float: left;
		padding-left: rem-calc(15);
	}
	.message-mobile-btn {
		float: right;
		padding-right: rem-calc(15);
		a {
			margin: rem-calc(7) 0;
			width: rem-calc(31);
			display: block;
		}
	}

}

.mobile-header-content a {
	padding: 10px 0;
	display: block;
}

/**
 * Hero Header
 */
.hero-header {
	margin-top: rem-calc(45);
	background: url("../img/build/hero-img.jpg") top center repeat-x;
	@include breakpoint($medium-screen) {
		margin-top: rem-calc(60);
	}
	.container {
		height: rem-calc(425px);
	}
}

.compose-post {
	background: $deep-sea;
	background: rgba(0, 178, 134, 0.7);
	@include border-radius(5px);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 1.5em);
	max-width: 575px;
	margin: 0 auto;
	padding: rem-calc(20) rem-calc(20) rem-calc(30);
}

.compose-post-option {
	margin-top: rem-calc(10px);
}

.add-attachment {
	@extend %inline-list;
	.attachment-photo, .attachment-video {
		background: url("../img/build/icons/attachment-icon.png") 0 0 no-repeat;
		padding-left: rem-calc(30);
		font-size: rem-calc(14);
		opacity: 0.5;
		color: #FFF;
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
	.attachment-photo {
		margin-right: rem-calc(15);
	}
	.attachment-video {
		background-position: -140px 0;
	}
}

//.compose-post {
//	.input {
//		position: relative;
//		z-index: 1;
//		display: inline-block;
//		width: 100%;
//		vertical-align: top;
//	}
//	.input-field {
//		position: relative;
//		display: block;
//		float: right;
//		padding: 0.8em;
//		width: 60%;
//		border: none;
//		border-radius: 0;
//		color: #aaa;
//		font-weight: bold;
//		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//		@include appearance(none);
//		:focus {
//			outline: none;
//		}
//	}
//	.input-label {
//		display: inline-block;
//		float: right;
//		padding: 0 1em;
//		width: 40%;
//		color: #6a7989;
//		font-weight: bold;
//		font-size: 70.25%;
//		-webkit-touch-callout: none;
//		@include user-select(none);
//	}

//	.input-label-content {
//		position: relative;
//		display: block;
//		padding: 0;
//		width: 100%;
//		font-size: 30px;
//	}

//}
