.logo {
	float: left;
	margin: rem-calc(17) 0 rem-calc(18);
	padding: 0 0 0 15px;
	line-height: normal;
	img {
		max-width: 100%;
	}
}

.right-nav {
	float: right;
	color: #FFF;
	width: 350px;
}

.new-message-btn {
	height: 31px;
	width: 31px;
	display: block;
	float: right;
	margin: 15px 10px;

	@extend .image-replace;
	background: url("../img/icons/message-cloud.png") center center no-repeat;
}

.my-account {
	float: right;

	> a {
		display: block;
	}
}

.ss-search-bar {
	float: right;
	margin: 15px 10px;
	form {
		position: relative;
	}
	.search-input {
		border: 1px solid white(0.3);
		padding: rem-calc(6) rem-calc(40) rem-calc(6) rem-calc(10);
		outline: 0;
		width: rem-calc(200);
		border-radius: 4px;
		background: transparent;
		color: white(0.4);
		font-size: rem-calc(14);

		&:focus {
			background: #e4e2e2;
			color: #000;
		}
	}
	.search-btn {
		background: url("../img/icons/search.png") 0 0 no-repeat;
		border: 0;
		font-size: 18px;
		color: #cbe2cb;
		position: absolute;
		top: 50%;
		right: 0;
		margin: -8px 10px 0 0;
		width: 16px;
		height: 16px;
	}
}

.mobile-search .ss-search-bar {
	float: none;
	margin: 15px 0;
	.search-input {
		width: 100%;
	}
}

.avatar {
	&:hover {
		text-decoration: none;
	}
	img {
		width: 30px;
		height: 30px;
		border-radius: 4px;
	}
	//	.caret {
	//		border-top-width: 5px;
	//		border-right-width: 5px;
	//		border-left-width: 5px;
	//		margin-top: rem-calc(13);
	//		margin-left: rem-calc(4);
	//		display: inline-block;
	//		width: 0;
	//		height: 0;
	//		vertical-align: top;
	//		border-top: 4px solid white(0.3);
	//		border-right: 4px solid transparent;
	//		border-left: 4px solid transparent;
	//		content: "";
	//	}
}

.dropdown-menu {
	position: relative;
	a {
		float: left;
		padding: rem-calc(15) rem-calc(10);
		text-transform: uppercase;
		font-size: rem-calc(12);
		color: rgba(0, 0, 0, 0.5);
		&:hover {
			text-decoration: none;
			background: rgba(0, 0, 0, 0.05);
			color: #000;
			//			box-shadow: 0 1px 0 rgba(0, 0, 0, 0);
		}
	}
	li {
		float: left;
		position: relative;
	}
	ul {
		padding: 0;
		list-style: none;
		margin: 20px 0 0 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: rem-calc(30);
		left: rem-calc(-10);
		z-index: 10;
		background: #F6F6F6;
		border-radius: 4px;
		transition: all .1s ease-out;
		height: auto;
		li {
			float: none;
			display: block;
			border: 0;
			_line-height: 0;
			//			padding: 0 4px 0 4px;
			&:first-child > a {
				border-radius: 3px 3px 0 0;
				//				margin-top: 4px;
				&:after {
					content: '';
					position: absolute;
					left: rem-calc(55);
					top: -12px;
					display: block;
					width: 0;
					height: 0;
					border: inset 6px;
					border-color: transparent transparent #F6F6F6 transparent;
					border-bottom-style: solid;
				}
				//				&:before {
				//					content: '';
				//					position: absolute;
				//					left: rem-calc(65);
				//					top: -18px;
				//					display: block;
				//					width: 0;
				//					height: 0;
				//					border: inset 7px;
				//					border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
				//					border-bottom-style: solid;
				//				}
			}
			&:last-child > a {
				border-radius: 0 0 4px 4px;
				//				margin-bottom: 4px;
				box-shadow: none;
			}

		}
		a {
			padding: rem-calc(10) rem-calc(15);
			width: rem-calc(97);
			_height: 10px;
			display: block;
			white-space: nowrap;
			float: none;
			text-transform: none;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
		}

	}
	&:hover > ul {
		opacity: 1;
		visibility: visible;
		//		margin: 0;
	}
}

.page-header {
	background-color: $shark;
	display: none;
	@include breakpoint($medium-screen) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #1f1f1f;
		z-index: 12;
		display: block;

	}

	//	.mobile-bar {
	//		position: fixed;
	//		top: 0;
	//		left: 0;
	//		z-index: 12;
	//		width: 100%;
	//		height: 3em;
	//		background: #1f1f1f;
	//	}

	.main-nav {
		//		display: none;
		//		position: fixed;
		//		top: 48px;
		//		bottom: 0;
		//		right: 0;
		//		left: 0;
		//		z-index: 10;
		//		overflow-x: hidden;
		//		overflow-y: auto;
		//		-webkit-overflow-scrolling: touch;
		//		@include breakpoint($medium-screen) {
		//
		//			position: relative;
		//			z-index: 13;
		//			top: 0;
		//			display: block;
		//			float: right;
		//			overflow: visible;
		//
		//		}
		> ul {
			@include inline-list;
		}
	}

}

.ss-mobile-header {
	background-color: $shark;
	width: 100%;
	height: 45px;
	line-height: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 12;

	@include breakpoint($medium-screen) {
		display: none;

		//			background: #1f1f1f;

	}
}

.mobile-header-inner {
	height: 100%;
	width: 100%;
	position: relative;

	.mobile-header-content {
		float: left;
		width: 68%;
		height: 100%;
		position: absolute;
		left: 16%;
		text-align: center;
	}
	.menu-btn, .message-mobile-btn {
		a {
			//			@extend .image-replace;
			//			background: none;
			text-align: center;
			width: auto;
			padding: 4px;
			text-decoration: none;
			display: inline-block;
			position: relative;
		}
	}
	.menu-btn {
		float: left;
		padding-left: rem-calc(15);

	}
	.message-mobile-btn {
		float: right;
		/* margin-right: 2.5%; */
		padding-right: rem-calc(15);
		a {
			margin: 7px 0;
			width: 31px;
			display: block;
		}
	}

}

.mobile-header-content a {
	padding: 10px 0;
	display: block;

}

.hero-header {
	margin-top: rem-calc(45);
	background: url("../img/hero-img.jpg") top center repeat-x;
	@include breakpoint($medium-screen) {
		margin-top: rem-calc(60);

	}
	.container {
		//		-webkit-transform-style: preserve-3d;
		//		-moz-transform-style: preserve-3d;
		//		transform-style: preserve-3d;
		height: rem-calc(425px);

	}
}

.compose-post {

	background: $deep-sea;
	background: rgba(0, 178, 134, 0.7);
	@include border-radius(5px);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 1.5em);
	max-width: 575px;
	margin: 0 auto;
	padding: rem-calc(20) rem-calc(20) rem-calc(30);

	//	.input {
	//		position: relative;
	//		z-index: 1;
	//		display: inline-block;
	//		width: 100%;
	//		vertical-align: top;
	//		cursor: auto;
	//	}
	//	.input-field, .input-label {
	//		font-family: 'Open Sans', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	//		color: #FFF;
	//	}
	//	.input-field {
	//		float: right;
	//		border: none;
	//		border-radius: 0;
	//		color: #aaa;
	//		-webkit-appearance: none;
	//		position: absolute;
	//		top: 0;
	//		left: 0;
	//		z-index: 12;
	//		display: block;
	//		padding: 0;
	//		width: 100%;
	//		height: 100%;
	//		background: transparent;
	//		text-align: left;
	//		font-size: 40px;
	//		color: #fff;
	//		font-weight: 300;
	//	}
	//
	//	.input-field:focus {
	//		outline: none;
	//	}
	//
	//	.input-label {
	//		display: inline-block;
	//		float: right;
	//		color: white(0.5);
	//		font-weight: 300;
	//		font-size: rem-calc(30);
	//		-webkit-touch-callout: none;
	//		-webkit-user-select: none;
	//		-khtml-user-select: none;
	//		-moz-user-select: none;
	//		-ms-user-select: none;
	//		user-select: none;
	//		padding: 0;
	//		width: 100%;
	//		cursor: text;
	//	}
	//
	//	.input-label-content {
	//		position: relative;
	//		display: block;
	//		padding: rem-calc(25) 0;
	//		width: 100%;
	//	}
	//
	//	.input-label::before {
	//		content: '';
	//		position: absolute;
	//		top: 0;
	//		left: 0;
	//		width: 100%;
	//		height: 100%;
	//
	//	}
	//	.input--filled .input-label::after {
	//		content: '';
	//		position: absolute;
	//		top: 0;
	//		left: 0;
	//		width: 100%;
	//		height: calc(100% - 10px);
	//		border-bottom: 3px solid #FFF;
	//	}
	//	.input-label-content {
	//		-webkit-transition: -webkit-transform 0.3s;
	//		transition: transform 0.3s;
	//	}
	//
	//	.input-field:focus + .input-label::before,
	//	.input--filled .input-label::before {
	//		//		-webkit-transform: scale3d(0.99, 0.95, 1);
	//		//		transform: scale3d(0.99, 0.95, 1);
	//	}
	//
	//	.input-field:focus + .input-label,
	//	.input--filled .input-label {
	//		cursor: default;
	//		pointer-events: none;
	//	}
	//
	//	.input-field:focus + .input-label .input-label-content,
	//	.input--filled .input-label-content {
	//		-webkit-transform: translate3d(0, -50px, 0);
	//		transform: translate3d(0, -50px, 0);
	//	}
	//	.input--filled .input-label-content {
	//
	//		font-size: 16px;
	//
	//	}

}

.compose-post-option {
	margin-top: rem-calc(10px);
}

.add-attachment {
	@extend %inline-list;
	.attachment-photo, .attachment-video {
		background: url("../img/icons/attachment-icon.png") 0 0 no-repeat;
		padding-left: rem-calc(30);
		font-size: rem-calc(14);
		opacity: 0.5;
		color: #FFF;
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
	.attachment-photo {
		margin-right: rem-calc(15);
	}
	.attachment-video {
		background-position: -140px 0;
	}
}

.compose-post {
	.input {
		position: relative;
		z-index: 1;
		display: inline-block;
		//		margin: 1em;
		width: 100%;
		vertical-align: top;
	}

	.input__field {
		position: relative;
		display: block;
		float: right;
		padding: 0.8em;
		width: 60%;
		border: none;
		border-radius: 0;
		color: #aaa;
		font-weight: bold;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		-webkit-appearance: none; /* for box shadows to show on iOS */
	}

	.input__field:focus {
		outline: none;
	}

	.input__label {
		display: inline-block;
		float: right;
		padding: 0 1em;
		width: 40%;
		color: #6a7989;
		font-weight: bold;
		font-size: 70.25%;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.input__label-content {
		position: relative;
		display: block;
		padding: 0;
		width: 100%;
		font-size: 30px;
	}

}



.compose-post.basic {
	overflow: hidden;
	background: #dee1e5;
	position: relative;
	margin: 0;
	width: 100%;
	top: 0;
	transform: translateY(0);

	margin: 0 auto;
	padding: rem-calc(20) rem-calc(20) rem-calc(30);


	.add-attachment {
	float: left;
		.attachment-photo, .attachment-video {
			background: url("../img/icons/attachment-icon-dark.png") 0 center no-repeat;

			opacity: 0.7;
			color: #70767f;
			line-height: 26px;

		}
		.attachment-video {
			background-position: -140px center;
		}

	}
	.btn {
		float: right;
	}

}