/* --------------------------------------------------------------
	Canvas Mobile Menu
-------------------------------------------------------------- */

.ss-mobile-menu-wrapper a {
	color: $athens-gray;
	a:hover,
	a:focus {
		color: $caribbean-green;
		text-decoration: none;
	}
}

.content-main {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		height: 100%;
		background: black(0.3);
		content: '';
		opacity: 0;
		@include translate3d(100%, 0, 0);
		@include single-transition(opacity 0.4s);
		@include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	}
}

.menu-btn {
	position: fixed;
	z-index: 1000;
	margin: rem-calc(5);
	padding: 0;
	width: rem-calc(40);
	height: rem-calc(35);
	border: none;
	text-indent: rem-calc(40);
	font-size: rem-calc(24);
	color: transparent;
	background: transparent;
	&:before {
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		background: linear-gradient($gray 20%, transparent 20%, transparent 40%, $gray 40%, $gray 60%, transparent 60%, transparent 80%, $gray 80%);
		content: '';
	}
	&:hover {
		&:before {
			background: linear-gradient($caribbean-green 20%, transparent 20%, transparent 40%, $caribbean-green 40%, $caribbean-green 60%, transparent 60%, transparent 80%, $caribbean-green 80%);
		}
	}
}

.ss-mobile-menu-wrapper {
	position: fixed;
	top: 45px;
	z-index: 1001;
	width: 210px;
	height: auto;
	background: $gray-dark;
	padding: rem-calc(15) rem-calc(30);
	font-size: rem-calc(18);
	@include translate3d(-320px, 0, 0);
	-webkit-transition: -webkit-transform 0.4s;
	@include transition(transform 0.4s);
	@include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	@include breakpoint($medium-screen) {
		display: none;
	}
}

.menu {
	height: auto;
}

.canvas-list a {
	display: block;
	padding: rem-calc(12) 0;
	font-size: rem-calc(14);
	&:hover, &:focus {
		text-decoration: none;
		color: $caribbean-green;
	}

}

.ss-mobile-menu-active {
	.ss-mobile-menu-wrapper {
		@include translate3d(0, 0, 0);
		@include transition(transform 0.8s);
		@include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	}

	.content-main::before {
		opacity: 1;
		@include translate3d(0, 0, 0);
		@include transition(opacity 0.8s);
		@include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
	}
}