/* --------------------------------------------------------------
	Canvas Mobile Menu
-------------------------------------------------------------- */

.menu-wrap a {
	color: $athens-gray;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color: $caribbean-green;
	text-decoration: none;
}

.content-main {
	position: relative;
}

.content-main::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.menu-btn {
	position: fixed;
	z-index: 1000;
	margin: 5px;
	padding: 0;
	width: 40px;
	height: 35px;
	border: none;
	text-indent: 40px;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-btn::before {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background: linear-gradient($gray 20%, transparent 20%, transparent 40%, $gray 40%, $gray 60%, transparent 60%, transparent 80%, $gray 80%);
	content: '';
}

.menu-btn:hover {
	&:before {
		//	opacity: 0.6;
		background: linear-gradient($caribbean-green 20%, transparent 20%, transparent 40%, $caribbean-green 40%, $caribbean-green 60%, transparent 60%, transparent 80%, $caribbean-green 80%);
	}
}

.menu-wrap {
	position: fixed;
	top: 45px;
	z-index: 1001;
	width: 210px;
	height: auto;
	background: $gray-dark;
	padding: 15px 30px;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px, 0, 0);
	transform: translate3d(-320px, 0, 0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	@include breakpoint($medium-screen) {
		display: none;
	}
}

.menu,
{
	height: auto;
}

.canvas-list a {
	display: block;
	padding: rem-calc(12) 0;
	font-size: rem-calc(14);

}

.show-menu .menu-wrap {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.show-menu .content-main::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}