/* --------------------------------------------------------------
	Modal Window
-------------------------------------------------------------- */

.ss-overlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: black(0.8);
	display: block;
	@include transition(500ms opacity 500ms ease);
	&.ss-open {
		top: 0;
		@include transition(500ms opacity ease);
		opacity: 1;
	}

}

.ss-modal {
	position: fixed;
	z-index: 9999;
	left: 50%;
	width: 94%;
	padding: 0;
	@include transition(1ms opacity ease);
	@include transform(translate(-50%, -50%));
	border-radius: 3px;
	background: #fff;

	&.ss-open {
		opacity: 1;
		top: 50%;
		@include transition(500ms top 500ms ease);
		&.ss-anchored {
			top: 20px;
			@include transform(translate(-50%, 0));
			@include transition(500ms top 500ms ease);
		}
	}

	top: -300%;
	opacity: 1;
	display: block;
	@include transition(500ms top ease);


}

.ss-close {
	@extend .image-replace;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #fff;
	border: 0;
	outline: none;
	opacity: 0.8;
	height: 22px;
	width: 22px;
	z-index: 1;
	background: url("../img/build/icons/modal-close.png") 0 0 no-repeat;
	@include breakpoint($medium-screen) {
		top: -22px;
		right: -22px;
	}

	&:hover {
		opacity: 1;
	}
}

.modal-photo, .modal-video, .modal-new-compose {
	display: none;
}

.modal-image, .video-wrap {
	@include border-top-radius(3px);
	overflow: hidden;
}

.trigger-button {
	font-size: 17px;
	position: relative;
	top: 100px;
	display: block;
	margin: auto;
	padding: rem-calc(10) rem-calc(30);
	cursor: pointer;
	color: #fff;
	border: 0;
	border-radius: 3px;
	outline: none;
	background: #2ecc71;
	box-shadow: 0 5px 1px #27ae60;

	&:hover {
		background: #27ae60;
		box-shadow: 0 5px 1px #145b32;
	}

	&:active {
		border-top: 5px solid white;
		box-shadow: none;
	}
}

.compose-post.basic {
	overflow: hidden;
	background: #dee1e5;
	position: relative;
	margin: 0;
	width: 100%;
	top: 0;
	transform: translateY(0);
	margin: 0 auto;
	padding: rem-calc(20) rem-calc(20) rem-calc(30);

	.add-attachment {
		width: 100%;
		float: none;
		margin: 0 auto;
		@include breakpoint(400px) {
			float: left;
			margin-left: rem-calc(22);
			margin-right: 0;
			width: auto;
		}
		.attachment-photo, .attachment-video {
			background: url("../img/build/icons/attachment-icon-dark.png") 0 center no-repeat;
			opacity: 0.7;
			color: #70767f;
			line-height: rem-calc(26);
		}
		.attachment-video {
			background-position: -140px center;
		}

	}
	.btn {
		width: 100%;
		float: none;
		display: inline-block;
		margin-top: rem-calc(20);
		text-align: center;
		@include breakpoint(400px) {
			float: right;
			width: auto;
			margin-top: rem-calc(-4);
		}
	}

}