/* --------------------------------------------------------------
	Modal Window
-------------------------------------------------------------- */

.ss-overlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 1ms opacity ease;
	-moz-transition: 1ms opacity ease;
	-ms-transition: 1ms opacity ease;
	-o-transition: 1ms opacity ease;
	transition: 1ms opacity ease;
	background: rgba(0, 0, 0, .8);
}

.ss-modal {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 94%;
	padding: 0;
	-webkit-transition: 1ms opacity ease;
	-moz-transition: 1ms opacity ease;
	-ms-transition: 1ms opacity ease;
	-o-transition: 1ms opacity ease;
	transition: 1ms opacity ease;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 3px;
	background: #fff;
}

.ss-modal.ss-open.ss-anchored {
	top: 20px;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.ss-modal.ss-open {
	opacity: 1;
}

.ss-overlay.ss-open {
	opacity: 1;

}

/* Close Button */
.ss-close {
	@extend .image-replace;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #fff;
	border: 0;
	outline: none;
	opacity: 0.8;
	height: 22px;
	width: 22px;
	z-index: 1;
	background: url("../img/icons/modal-close.png") 0 0 no-repeat;
	@include breakpoint($medium-screen) {
		top: -22px;
		right: -22px;
	}
}

.ss-close:hover {
	opacity: 1;
}

/* Default Animation */

.ss-overlay.fade-and-drop {
	display: block;
	opacity: 0;
}

.ss-modal.fade-and-drop {
	top: -300%;
	opacity: 1;
	display: block;
}

.ss-modal.fade-and-drop.ss-open {
	top: 50%;
	-webkit-transition: 500ms top 500ms ease;
	-moz-transition: 500ms top 500ms ease;
	-ms-transition: 500ms top 500ms ease;
	-o-transition: 500ms top 500ms ease;
	transition: 500ms top 500ms ease;
}

.ss-modal.fade-and-drop.ss-open.ss-anchored {
	-webkit-transition: 500ms top 500ms ease;
	-moz-transition: 500ms top 500ms ease;
	-ms-transition: 500ms top 500ms ease;
	-o-transition: 500ms top 500ms ease;
	transition: 500ms top 500ms ease;
}

.ss-overlay.fade-and-drop.ss-open {
	top: 0;
	-webkit-transition: 500ms opacity ease;
	-moz-transition: 500ms opacity ease;
	-ms-transition: 500ms opacity ease;
	-o-transition: 500ms opacity ease;
	transition: 500ms opacity ease;
	opacity: 1;
}

.ss-modal.fade-and-drop {
	-webkit-transition: 500ms top ease;
	-moz-transition: 500ms top ease;
	-ms-transition: 500ms top ease;
	-o-transition: 500ms top ease;
	transition: 500ms top ease;
}

.ss-overlay.fade-and-drop {
	-webkit-transition: 500ms opacity 500ms ease;
	-moz-transition: 500ms opacity 500ms ease;
	-ms-transition: 500ms opacity 500ms ease;
	-o-transition: 500ms opacity 500ms ease;
	transition: 500ms opacity 500ms ease;
}

.modal-photo, .modal-video, .modal-new-compose {
	display: none;
}

.modal-image, .video-wrap {
	@include border-top-radius(3px);
	overflow: hidden;
}

.trigger-button {
	font-size: 17px;
	position: relative;
	top: 100px;
	display: block;
	margin: auto;
	padding: 10px 30px;
	cursor: pointer;
	color: #fff;
	border: 0;
	border-radius: 3px;
	outline: none;
	background: #2ecc71;
	box-shadow: 0 5px 1px #27ae60;
}

.trigger-button:hover {
	background: #27ae60;
	box-shadow: 0 5px 1px #145b32;
}

.trigger-button:active {
	border-top: 5px solid white;
	box-shadow: none;
}