
.post-entry {
	&.tile {
		@include column-gap(rem-calc(20));

		@include breakpoint($medium-screen) {

			@include column-count(2);

		}

		@include breakpoint($large-screen) {

			@include column-count(3);

		}
	}
	&.list {
		padding: 0;
		//		@include column-count(1);

		max-width: 570px;
		margin: 0 auto;
	}
}

.panel {
	@include single-transition(transform, 0.2s, linear);
	display: inline-block;
	background: #fff;
	margin: 0 0 rem-calc(25);
	width: 100%;
	@include box-sizing(border-box);
	border: 1px solid $gray-lighter;
	@include border-radius(4px);
	overflow: hidden;
}

.post-main {
	padding: 20px 25px;
}

.post-body {
	margin-left: 60px;

	@include breakpoint(461px) {

	}

}

.post-header-wrap {
	@extend %clearfix;

	margin-bottom: rem-calc(-10);

}

.post-avatar {
	float: left;

	margin-left: rem-calc(-60);

}

.post-author {
	//	width:60%;
	//	float: left;
	span {
		color: #444;

		//
	}
	//	&:hover, &:focus {
	//		text-decoration: none;
	//
	//	}
}

.post-meta {
	float: right;

	ul {
		@extend %inline-list;
	}

}

.tile .post-meta.top, .list .post-meta.bottom {
	display: none;
}

.post-content {
	color: $pale-sky;
	font-size: rem-calc(15);
	line-height: 1.6;
	a {
		@include link-colors($loblolly, $caribbean-green);
	}
}

.post-action-btn {
	background: url("../img/icons/post-cta.png") 0 0 no-repeat;
	width: 13px;
	height: 13px;
	@extend .image-replace;
	&.reply {
		background-position: 0 0;
		&:hover, &:active {
			background-position: 0 -30px;

		}

	}
	&.favorite {
		background-position: -35px 0;
		&:hover, &:active {
			background-position: -35px -30px;

		}
	}
}

.post-action-time {
	font-size: rem-calc(14);
	color: #cbcfd6;
}

.post-image img {
	width: 100%;
	max-width: 100%;
}

.post-action {
	@extend %clearfix;
	padding-left: 84px;
	padding-right: 20px;
	margin: 15px 0;

	.expand {
		font-size: rem-calc(12);
		//		color: $loblolly;
		@include link-colors($loblolly, $gray);
		&:hover {
			text-decoration: none;
			.caret {
				border-top-color: $gray;
			}
		}
		.caret {
			border-top-color: $loblolly;
			margin-top: rem-calc(8);

		}
	}
}

.post-replies {
	background: rgba(0, 0, 0, 0.1);
	display: none;
}