.page-footer {
	padding: rem-calc(40) rem-calc(15);
	overflow: hidden;
	text-align: center;
	border-top: 1px solid #dee1e5;
	@include breakpoint($bp-medium) {
		clear: both;
		position: relative;
		z-index: 11;
	}
}

.footer-links {
	@include inline-list;
	text-transform: uppercase;
	font-size: rem-calc(11);
	font-weight: 600;
	li {
		padding: 0 12px;
	}
	a {
		@include single-transition(color, .1s, ease-out)
	}
}