/* -----------------------------------------
   Visibility classes
----------------------------------------- */

/* small displays */
@media only screen {
	.hide-for-medium-down, .hide-for-small-down {
		display: none !important;
	}
}

/* medium displays */
@media only screen and (min-width: $bp-bravo) {
	.hide-for-medium-down {
		display: none !important;
	}
	.hide-for-small-down {
		display: inherit !important;
	}
}

/* large displays */
@media only screen and (min-width: $medium-screen) {
	.hide-for-medium-down, .hide-for-small-down {
		display: inherit !important;
	}
}

/* extra large displays */
@media only screen and (min-width: $xlarge-screen) {
	.hide-for-medium-down, .hide-for-small-down {
		display: inherit !important;
	}
}